<!--<div id="app" class="app" [dir]="(settings.rtl) ? 'rtl' : 'ltr'"
            [ngClass]="settings.theme" 
            [class.fixed-header]="settings.fixedHeader"
            [class.fixed-sidenav]="settings.fixedSidenav"
            [class.fixed-footer]="settings.fixedFooter"
            [class.horizontal-menu]="settings.menu == 'horizontal'" 
            [class.compact]="settings.menuType == 'compact'" 
            [class.mini]="settings.menuType == 'mini'">  
    <router-outlet></router-outlet>
    <div id="app-spinner" [class.hide]="!settings.loadingSpinner"> 
        <img src="assets/img/logo.png" class="animated-logo"> 
        <h4>loading...</h4>
    </div> 
</div>-->

<div class="example-container" >
  <mat-toolbar class="example-toolbar" style="background-color: rgba(188, 226, 248, 0.823);">
    <button mat-icon-button (click)="sidenav.toggle()">
      <mat-icon *ngIf="!sidenav.opened">menu</mat-icon>
      <mat-icon *ngIf="sidenav.opened">close</mat-icon>
    </button>

    <h1 class="example-app-name"><img src="assets/img/logo-visas.png" width="168" style="margin-left: 1%" /></h1>

    <span class="example-spacer"></span>
    <button mat-button style="background-color: transparent; " routerLink="/">INICIO</button>

  </mat-toolbar>

  <mat-sidenav-container class="example-sidenav-container">
    <mat-sidenav #sidenav style="width: 15%;">
      <button mat-menu-item class="item-menu" (click)="sidenav.toggle()"  routerLink="/">
        <mat-icon>home</mat-icon>
        <span>Inicio</span>
    </button>
    <mat-divider></mat-divider> 
      <button mat-menu-item class="item-menu" (click)="sidenav.toggle()" routerLink="/consultor">
        <mat-icon>contacts</mat-icon>
        <span>Consultores</span>
    </button>
    <mat-divider></mat-divider>  
    <button mat-menu-item class="item-menu" (click)="sidenav.toggle()" routerLink="/registro-venta">
      <mat-icon>shopping_cart</mat-icon>
      <span>Ventas</span>
    </button>
    <mat-divider></mat-divider>  

    </mat-sidenav>

    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>