<!--<div id="app" class="app" [dir]="(settings.rtl) ? 'rtl' : 'ltr'"
            [ngClass]="settings.theme" 
            [class.fixed-header]="settings.fixedHeader"
            [class.fixed-sidenav]="settings.fixedSidenav"
            [class.fixed-footer]="settings.fixedFooter"
            [class.horizontal-menu]="settings.menu == 'horizontal'" 
            [class.compact]="settings.menuType == 'compact'" 
            [class.mini]="settings.menuType == 'mini'">  
    <router-outlet></router-outlet>
    <div id="app-spinner" [class.hide]="!settings.loadingSpinner"> 
        <img src="assets/img/logo.png" class="animated-logo"> 
        <h4>loading...</h4>
    </div> 
</div>-->

<div class="example-container">
  <mat-toolbar style="background-color: aliceblue !important; border-color: black; border-style: solid; border: 1px;" class="example-toolbar">
    <!--<button mat-icon-button (click)="sidenav.toggle()">
      <mat-icon *ngIf="!sidenav.opened">menu</mat-icon>
      <mat-icon *ngIf="sidenav.opened">close</mat-icon>
    </button>-->

    <h1 class="example-app-name"><img src="assets/img/logo-visas.png" width="168" style="margin-left: 1%"/></h1>

    <span class="example-spacer"></span>
    <button mat-button style="background-color: transparent; " routerLink="/">INICIO</button>
    <button mat-button style="background-color: transparent; " routerLink="/registroConsultoria">REGISTRO CONSULTORIA</button>

    <!--<mat-menu #menu="matMenu">
      <button mat-menu-item routerLink="/login">
        <mat-icon>account_box</mat-icon>
        <span>Login</span>
      </button>
      <button mat-menu-item (click)="sidenav.opened = false">
        <mat-icon>exit_to_app</mat-icon>
        <span>Cerrar Sesión</span>
      </button>
    </mat-menu>-->

  </mat-toolbar>

  <mat-sidenav-container class="example-sidenav-container">
    <mat-sidenav #sidenav style="width: 200px">
<!--
      <button mat-menu-item  (click)="sidenav.toggle()" style="cursor: pointer" routerLink="/departamento">
        <mat-icon>map</mat-icon>
        <span>Departamento</span>
    </button>
    <mat-divider></mat-divider>  
    <button mat-menu-item (click)="sidenav.toggle()" style="cursor: pointer" routerLink="/ciudad">
      <mat-icon>terrain</mat-icon>
      <span>Ciudad</span>
    </button>
    <mat-divider></mat-divider>  
    <button mat-menu-item (click)="sidenav.toggle()" style="cursor: pointer" routerLink="/vehiculo">
      <mat-icon>emoji_transportation</mat-icon>
      <span>Vehiculo</span>
    </button>
    <mat-divider></mat-divider>
    <button mat-menu-item (click)="sidenav.toggle()" style="cursor: pointer" routerLink="/conductor">
      <mat-icon>person</mat-icon>
      <span>Conductor</span>
    </button>-->
    <mat-divider></mat-divider>    
    

    </mat-sidenav>
    
    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>
</div>