<div align="center">
    <form class="forms" align="center">
        
            <h1>REGISTRO CONSULTORIAS</h1>
        <mat-form-field>
            <input matInput placeholder="Fecha">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Nombres y Apellidos">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="No. de identificacion">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Correo electrónico">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Cantidad">
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Servicio</mat-label>
            <mat-select>
                <mat-option value="option">Option</mat-option>
            </mat-select>
        </mat-form-field>
        <br>
        <button mat-raised-button slot="end" color="primary">Enviar</button>
        <br><br>
    </form>
</div>